services:
  client:
    build:
      target: development
    command: npm run dev
    volumes:
      - ./client:/app
      - /app/node_modules

  server:
    build:
      target: development
    command: npm run dev
    volumes:
      - ./server:/app
      - /app/node_modules
